<div>
    <img class="background" src="assets/Background.png">
</div>

<head>
    <p>BeatMaker</p>
</head>
<div class="header">
    <div>
        <img class="logo" src="assets/ZiiQue-Logo.png">
    </div>
    <div class="menu">
        <button mat-raised-button (click)="onClick()" class="btn-menu">
            <img src="assets/menu-icon.png" id="menu-img">
        </button>
    </div>
</div>

<body>
    
    <div id="burgerDivMaster">
        <div id="burgerDivSlave">
            <mat-button-toggle-group id="navBarGroup">
                <mat-button-toggle id="profileBtn" class="navButton" mat-raised-button (change)="goToProfile()">Profile</mat-button-toggle>
                <mat-button-toggle id="beatsBtn" class="navButton" mat-raised-button (change)="goToBeats()">Beats</mat-button-toggle>
            </mat-button-toggle-group>
            <div class="burgerDivPages" id="profilePage">
                <p>Username: {{this.user.username_Email}}</p>
                <p>Email: {{this.user.email}}</p>
                <!--<button id="profileUpdate" mat-raised-button>Save Changes</button>-->
                <button id="profileDelete" mat-raised-button (click)="deletePopUp()">Delete Profile</button>
            </div>
            <div class="burgerDivPages" id="beatsPage">
                <mat-expansion-panel id="beat" *ngFor="let beat of beats">
                    <mat-expansion-panel-header>{{ beat.title }}</mat-expansion-panel-header>
                    <h2>{{ beat.summary }}</h2>
                    <button class="expansionButtons" mat-raised-button (click)="loadBeat(beat)">Load Beat(WIP)</button>
                    <button class="expansionButtons" mat-raised-button (click)="updateBeat(beat)">Update Beat(WIP)</button>
                    <button class="expansionButtons" mat-raised-button (click)="deleteBeat(beat)">Delete Beat(WIP)</button>
                </mat-expansion-panel>
            </div>
        </div>
    </div>

    <div id="beatBoard">
        <div class="play">
            <button mat-raised-button (click)="play()" class="btn-play">
                <img src="{{this.imgPath}}" id="play-img">
            </button>
        </div>
        <div class="BPM">
            <mat-form-field appearance="outline" class="BPM-Input">
                <mat-label>BPM</mat-label>
                <input matInput type="number" [(ngModel)]="bpm">
            </mat-form-field>
        </div>
        <div class="save">
            <button mat-raised-button (click)="saveBeat()" class="btn-save">
                Save Your Beat
            </button>
        </div>
        <mat-card id="intBoard" *ngFor="let instruments of instrumentList; index as i;">
            <button id="demoBton"
                    mat-raised-button
                    *ngIf="demoNode[i]"
                    [ngClass]="{
     'dem0': demoNode[i].sound.includes('A'),
     'dem1': demoNode[i].sound.includes('B'),
     'dem2': demoNode[i].sound.includes('C'),
     'dem3': demoNode[i].sound.includes('D'),
     'dem4': demoNode[i].sound.includes('E')
     }" (click)="playDemo(demoNode[i])">
                {{demoNode[i].sound}}
            </button>
            <button id="beatBtn"
                    mat-raised-button
                    *ngFor="let note of instruments.notes"
                    (click)="addNote(note)"
                    [ngClass]="{'green': note.isToggled,'basic': !note.isToggled}">
            </button>
        </mat-card>
    </div>
</body>

