<body>
    <mat-button-toggle-group id="navBarGroup">
        <mat-button-toggle id="profileBtn" class="navButton" mat-raised-button (change)="goToProfile()">Profile</mat-button-toggle>
        <mat-button-toggle id="beatsBtn" class="navButton" mat-raised-button (change)="goToBeats()">Beats</mat-button-toggle>
    </mat-button-toggle-group>

    <div id="profileDiv" class="contentDiv">
        <p>Username: {{this.user.username_Email}}</p>
        <p>Email: {{this.user.email}}</p>
        <!--<button class="profileUpdate" mat-raised-button>Save Changes</button> -->
        <button class="profileDelete" mat-raised-button (click)="deletePopUp()">Delete Profile</button>
    </div>
    <div id="beatsDiv" class="contentDiv">
        <mat-expansion-panel id="beat" *ngFor="let beat of beats">
            <mat-expansion-panel-header>{{ beat.title }}</mat-expansion-panel-header>
            <h2>{{ beat.summary }}</h2>
            <button class="expansionButtons" mat-raised-button (click)="loadBeat(beat)">Load Beat(WIP)</button>
            <button class="expansionButtons" mat-raised-button (click)="updateBeat(beat)">Update Beat(WIP)</button>
            <button class="expansionButtons" mat-raised-button (click)="deleteBeat(beat)">Delete Beat(WIP)</button>
        </mat-expansion-panel>
    </div>
</body>
