body {
  position: relative;
}

#profileDelete {
  bottom: 10px;
  left: 0px;
  margin-right: 4px;
  margin-top: 20px;
  color: red;
  background-color: #5a5757;
}

#profileBack {
  bottom: 10px;
  right: 0px;
  margin-left: 4px;
  margin-top: 20px;
  background-color: #5a5757;
}

p{
    margin: auto;
}
