<div>
  <img class="back-img" src="assets/Background.png">
</div>
<div>
  <img class="madeby-img" src="assets/madebyzomr.png">
</div>
<body>
<div>
  <img class="logo-img" src="assets/ZiiQue-Logo.png">
</div>
<div class="loading" id="loading">
  <img class="loading-img" id="loading-img" src="assets/loading.gif">
  <div class="loading-text">
    <label>Loading...</label>
  </div>
</div>
  <div class="form-box" id="form-box">
    <div class="switch-button">
      <div id="btn"></div>
      <button class="toogle-btn" id="btn-login" (click)="SwitchLogin()">Log In</button>
      <button class="toogle-btn" id="btn-register" (click)="SwitchRegister()">Register</button>
    </div>
    <div id="login" class="input-group">
      <div>
        <mat-form-field class="input-field" required>
          <input matInput ng placeholder="Username or Email" type="text" [(ngModel)]="_Username_Email">
        </mat-form-field>
        <mat-form-field class="input-field" required>
          <input matInput ng placeholder="Password" type="password" [(ngModel)]="_password">
        </mat-form-field>
      </div>
      <button class="submit-btn" mat-raised-button (click)="Submit()">Log In</button>
    </div>
    <div id="register" class="input-group">
      <div>
        <mat-form-field class="input-field" required>
          <input matInput ng placeholder="Username" type="text" [(ngModel)]="_Username_Email">
        </mat-form-field>
        <mat-form-field class="input-field" required>
          <input matInput ng placeholder="Email" type="text" [(ngModel)]="_email">
        </mat-form-field>
        <mat-form-field class="input-field" required>
          <input matInput ng placeholder="Password" type="password" [(ngModel)]="_password">
        </mat-form-field>
        <password-strength-meter class="password-Strength" [password]="_password" (strengthChange)="strength($event)"></password-strength-meter>
        <mat-form-field class="input-field" aria-placeholder="Email" required>
          <input matInput ng placeholder="Confrim Password" type="password" [(ngModel)]="_cpassword">
        </mat-form-field>
      </div>
      <button class="submit-btn" mat-raised-button (click)="createUser()">Register</button>
    </div>
  </div>
</body>
