<body>

<mat-card>
  <mat-card-header>
    Create new Account
  </mat-card-header>

  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>

    <input matInput type="email" placeholder="Email" [(ngModel)]="email" [email]="true">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="password" type="password" [(ngModel)]="password">
    <password-strength-meter [password]="password" (strengthChange)="strength($event)"></password-strength-meter>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="confirm password" type="Password" [(ngModel)]="cpassword">
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button (click)="submit()" color="primary">Next</button>
    <button mat-raised-button color="primary" (click)="cancel()">cancel</button>
  </mat-card-actions>
</mat-card>
</body>
